<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <title>Homepage | Clubhouse</title>
  </head>
  <body>
    <nav><%- include("../views/partials/nav.ejs") %></nav>
    <main>
      <header>
        <h1 class="flex flex-col text-4xl font-semibold">
          <span> Welcome to <span>Clubhouse!</span> </span>
          <span>The home for many odinners</span>
        </h1>
      </header>
    </main>
  </body>
</html>
