<section class="border-1 border-rose-200 p-4 rounded-md w-[700px] shadow-sm shadow-rose-50">
    <div class="flex items-center mb-4">
        <div class="w-12 h-12 bg-white rounded-full flex items-center border-2 border-rose-200 overflow-hidden justify-center text-xl font-bold text-white mr-3">
            <i class="size-10 text-rose-500 mt-10" data-lucide="person-standing"></i>
        </div>
        <div>
            <div class="font-semibold text-rose-900">Vincent</div>
            <div class="text-sm text-gray-500">@vinct</div>
        </div>
    </div>
    <h2 class="text-lg font-semibold text-rose-900">Why crocodiles hurt?</h2>
    <p class="text-gray-700">most likely they got tons of teeth and yea they're sharp and stuff.</p>
</section>