<div class="flex justify-between items-center gap-4 p-4 mx-44">
    <a href="/" class="flex items-center gap-3">
        <i class="size-7 text-rose-500" data-lucide="person-standing"></i>
        <h1 class="font-semibold font-clubhouse text-xl text-rose-950">The Clubhouse</h1>
    </a>
    <ul class="flex gap-2 font-medium">
        <li class="group"><a href="/login"><button class="shadow-xs transition-colors cursor-pointer group-hover:bg-zinc-200 bg-zinc-100 rounded-md px-4 py-1.5">Login</button></a></li>
        <li class="group"><a href="/register"><button class="shadow-xs transition-colors cursor-pointer group-hover:bg-rose-800 bg-rose-950 text-white rounded-md px-4 py-1.5">Register</button></a></li>
    </ul>
</div>
