<div class="mx-44 flex items-center justify-between gap-4 p-4">
  <a href="/" class="flex items-center gap-3">
    <i class="size-7 text-rose-500" data-lucide="person-standing"></i>
    <h1 class="font-clubhouse text-xl font-semibold text-rose-950">
      The Clubhouse
    </h1>
  </a>
  <ul class="flex gap-2 font-medium">
    <% if (!locals.user) { %>
    <li class="group">
      <a href="/login"
        ><button
          class="cursor-pointer rounded-md bg-zinc-100 px-4 py-1.5 shadow-xs transition-colors group-hover:bg-zinc-200"
        >
          Login
        </button></a
      >
    </li>
    <li class="group">
      <a href="/register"
        ><button
          class="cursor-pointer rounded-md bg-rose-950 px-4 py-1.5 text-white shadow-xs transition-colors group-hover:bg-rose-800"
        >
          Register
        </button></a
      >
    </li>
    <% } else { %>
    <li class="group">
      <a href="/profile"
        ><button
          class="cursor-pointer rounded-md bg-rose-950 px-4 py-1.5 text-white shadow-xs transition-colors group-hover:bg-rose-800"
        >
          Add Post
        </button></a
      >
    </li>
    <li class="group">
      <a href="/logout"
        ><button
          class="cursor-pointer rounded-md bg-rose-950 px-4 py-1.5 text-white shadow-xs transition-colors group-hover:bg-rose-800"
        >
          Join The Club
        </button></a
      >
    </li>
    <% } %>
  </ul>
</div>
